@import 'utilities/_mixins';
@import 'layouts/default';
#panel {
    background: black;
    width: 100vw;
    height: 100vh;
    color: white;
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
}