style.
    @font-face {
            font-family: 'Open Sans';
            font-style: italic;
            font-weight: 400;
            font-stretch: 100%;
            font-display: swap;
            src: url(/fonts/OpenSans-Italic.woff) format('woff2');
        }
    @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-stretch: 100%;
            font-display: swap;
            src: url(/fonts/OpenSans-Regular.woff) format('woff2');
        }
    @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 300;
            font-stretch: 100%;
            font-display: swap;
            src: url(/fonts/OpenSans-Light.woff) format('woff2');
        }
    @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 600;
            font-stretch: 100%;
            font-display: swap;
            src: url(/fonts/OpenSans-SemiBold.woff) format('woff2');
        }
    @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 700;
            font-stretch: 100%;
            font-display: swap;
            src: url(/fonts/OpenSans-Bold.woff) format('woff2');
        }
    @font-face {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 800;
            font-stretch: 100%;
            font-display: swap;
            src: url(/fonts/OpenSans-ExtraBold.woff) format('woff2');
        }


        