extends ./layouts/main.pug
block content
    #panel
        img(src="/img/cat.webp", alt="", srcset="")
        h1 Hello World!
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium voluptas quae consequuntur reiciendis, quo odit nihil ducimus facilis fuga omnis cum quaerat inventore, tempore voluptatibus neque, facere consequatur est!