doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/main.min.css")
        link(rel="stylesheet", href="/fonts/_icons.css")
        title Document
        meta(name="description", content=",dvms,dvs s ldkvslkdkvls d vkslqd vkls dvslkd")
        script(src="/javascript/form.js" defer importance="low") 
        include ../includes/fonts
    body 
        block content
        script(src="/javascript/main.js" type="module" async) 